<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xóa Sản Phẩm</title>
    <link rel="stylesheet" href="/FE/customer/css/admin.css">
    <link rel="stylesheet" href="/FE/customer/css/products.css">
</head>
<body>
    <main class="delete-product-main">
        <h1 class="delete-product-title">Xóa Sản Phẩm</h1>
        <section class="products-title">
            <h1>Danh sách sản phẩm</h1>
        </section>
        <section class="products-grid" id="productsGrid">
        </section>
    </main>

    <script src="/FE/customer/js/deleteProduct.js"></script>
</body>
</html>